*{
      padding: 0px;
      margin: 0px;
      box-sizing: border-box;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
#header{
      height: 10vh;
      width: 100%;
      background-color: black;
      color:aliceblue;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 1%;
}
#netflixLogoSlot{
      height: 100%;
      width: 30%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
}
#svg{
      height: 70%;
      width: auto;
      fill: red;
}
#navSide{
      height: 100%;
      width: 25%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      background-color: black;
}
#langBox{
      height: 40%;
      background-color: black;
      display: flex;
      flex-direction: row;
      align-items: center;
      border: 2px solid white;
      border-radius: 5px;
      padding-left: 2px;
}
#lang{
      height: 100%;
      width: 80%;
      font-size: 1em;
      font-weight: 500;
      background-color: black;
      border: none;
      color: white;
}
#button{
      height: 40%;
      width: 30%;
      font-size: 1em;
      font-weight: 500;
      background-color: #f44336;
      border-radius: 5px;
      border: 1px solid #f44336;
      color: white;
}
#section1{
      height: 87vh;
      width: 100%;
      background-image: linear-gradient( to top,rgba(0, 0, 0, 0.59) 0%,rgba(0, 0, 0, 0.5) 40%,rgba(0, 0, 0, 0.3) 75%,rgba(0, 0, 0, 0.5) 100%),radial-gradient(circle at center,rgba(0, 0, 0, 0.5) 0%,rgba(0, 0, 0, 0.6) 80%),url('/images/netflixBgImg.jpg');
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
} 
#textBox{
      height: 25%;
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: center;
}
#infoBox{
      height: 30%;
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: center;
}
#hdgText{
      font-weight: 900;
      text-align: center;
      font-size: 2.5em;
      color: white;
}
#infoText{
      font-size: 1.1em;
      font-weight: 550;
      color: white;
}
#info2Text{
      text-align: center;
      font-size: 1.1em;
      font-weight: 550;
      color: white;
}
#idButtonDiv{
      margin-top: 4%;
      height: 30%;    
      width: 85%;
      display: flex;
      justify-content: space-between;
      align-items: center;
}
#email{
      height: 90%;
      width: 55%;
      border: 1px solid white;
      border-radius: 6px;
      background-color: black;
}
#startBtn{
      height: 90%;
      width: 35%;
      font-size: 1.1em;
      border: 1px solid #f44336;
      border-radius: 6px;
      font-weight: bold;
      color: white;
      background-color: #f44336;
}
input::placeholder, 
textarea::placeholder {
      font-weight: bold;
      text-align:center;
      font-size: 1.1em;
      color: rgb(234, 220, 220);
      opacity: 1;
}
.curve-container{
      opacity: 0.9;
      position:absolute;
      bottom: 0;
      width: 100%;
}

#trendSec{
      height: 60vh;
      width: 100%;
      padding-top: 2%;
      padding-left: 4%;
      display: flex;
      flex-direction: column;
      background-color: black;
}
#trendTextBox{
      height: 20%;
}
#trendT{
      color: white;
      font-size: 2rem;
      font-weight: 600;
}
#trendMovBox{
      height: 70%;
      display: flex;
      justify-content: space-evenly;
}
.mov{
      height: 100%;
      width: 20%;
      border: 1px solid black;
      background-size: cover;
      border-radius: 10px;
      opacity: 1;
      position: relative;
}
#mov1{
      background-image: url(/images/download\ \(1\).jpg);
}
#mov2{
      background-image: url(/images/mov2.jpg);
}
#mov3{
      background-image: url(/images/mov3.jpg);
}
#mov4{
      background-image: url(/images/mov4.jpg);
}
.num{
      font-size: 5rem;
      display: inline-block;
      position:absolute;
      bottom: 0;
      left: -10%;
      -webkit-text-stroke: 2px white; 
      font-weight: 900;
}
/* FAQ SECTION */
#faqSection{
      height: 100vh;
      width: 100%;
      background-color: black;
      display: flex;
      flex-direction: column;
      padding-top: 2%;
      padding-left: 4%;
      padding-right: 4%;

}
#faqTextBox{
      width: 100%;
}
#faqText{
      color: white;
      font-weight: 600;
      font-size: 2rem ;

}
#quesBoxSec{
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
}
.quesBoxes{
      height: 13%;
      width: 100%;
      border: 1px solid black;
      background-color: rgb(56, 55, 55);
      padding-left: 2%;
      padding-right: 2%;
      display: flex;
      justify-content: space-between;
      align-items: center;
}
.questionText{
      color: white;
      font-size: 1.5rem;
}
.icondiv{
      color: white;
      font-size: 2rem;
}
/* Footer Section */
#footerSec{
      height: 70vh;
      width: 100%;
      background-color: black;
      padding-top: 4%;
      padding-left: 4%;
      padding-right: 4%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
}
#contactText{
      color: #b0afaf;
      font-weight: 700;
      font-size: 1.1rem;
}
#aboutSecDiv{
      height: 75%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
}
.aboutSecBox{
      height: 60%;
      width: 45%;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
}
.anchorTags{
      color: #b0afaf;
      font-weight: 690;
      font-size: 0.8rem;
      text-decoration: underline;
}

#langBox2{
      height: 7%;
      width: 10%;
      display: flex;
      flex-direction: row;
      align-items: center;
      border: 1px solid white;
      border-radius: 5px;
      padding-left: 2px;
      color: white;
}

#lang2{
      height: 100%;
      width: 80%;
      background-color: black;
      font-size: 1em;
      font-weight: 500;
      border: none;      
      border-radius: 5px;
      color: white;
      outline: none;
}
#netflixText{
      color: #b0afaf;
      font-weight: 600;
      font-size: 1rem;
      margin-top: 2%;
}
/* Responsive */
@media (max-width: 1025px){
      #mov3{
            display: none;
      }
      #mov4{
            display: none;
      }
      .mov{
            height: 100%;
            width: 40%;
      }
}

@media (max-width: 768px){
      #header{
            height: 12vh;
            padding-left: 1%;
      }
      #navSide{
            width: 50%;
      }
      #textBox{
            height: 20%;
            width: 80%;
            font-size: 0.7rem;
      }
      #infoBox{
            width: 80%;
      }
      #info2Text{
            width: 100%;
            font-size: 1rem;
      }
      #idButtonDiv{
            font-size: 0.8rem;
      }
      .mov{
            height: 70%;
            width: 40%;
      }
      #mov3{
            display: none;
      }
      #mov4{
            display: none;
      }
      #langBox2{
            width: 30%;
      }

}