*{
      padding: 0px;
      margin: 0px;
      box-sizing: border-box;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
#header{
      height: 10vh;
      width: 100%;
      background-color: black;
      color:aliceblue;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 1%;
}
#netflixLogoSlot{
      height: 100%;
      width: 30%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
}
#svg{
      height: 70%;
      width: auto;
      fill: red;
}
#navSide{
      height: 100%;
      width: 25%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      background-color: black;
}
#langBox{
      height: 40%;
      background-color: black;
      display: flex;
      flex-direction: row;
      align-items: center;
      border: 2px solid white;
      border-radius: 5px;
      padding-left: 2px;
}
#lang{
      height: 100%;
      width: 80%;
      font-size: 1em;
      font-weight: 500;
      background-color: black;
      border: none;
      color: white;
}
#button{
      height: 40%;
      width: 30%;
      font-size: 1em;
      font-weight: 500;
      background-color: #f44336;
      border-radius: 5px;
      border: 1px solid #f44336;
      color: white;
}
#section1{
      height: 87vh;
      width: 100%;
      background-image: linear-gradient( to top,rgba(0, 0, 0, 0.59) 0%,rgba(0, 0, 0, 0.5) 40%,rgba(0, 0, 0, 0.3) 75%,rgba(0, 0, 0, 0.5) 100%),radial-gradient(circle at center,rgba(0, 0, 0, 0.5) 0%,rgba(0, 0, 0, 0.6) 80%),url('/images/netflixBgImg.jpg');
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
} 
#textBox{
      height: 25%;
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: center;
}
#infoBox{
      height: 30%;
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: center;
}
#hdgText{
      font-weight: 900;
      text-align: center;
      font-size: 2.5em;
      color: white;
}
#infoText{
      font-size: 1.1em;
      font-weight: 550;
      color: white;
}
#info2Text{
      text-align: center;
      font-size: 1.1em;
      font-weight: 550;
      color: white;
}
#idButtonDiv{
      margin-top: 4%;
      height: 30%;    
      width: 85%;
      display: flex;
      justify-content: space-between;
      align-items: center;
}
#email{
      height: 90%;
      width: 55%;
      border: 1px solid white;
      border-radius: 6px;
      background-color: black;
}
#startBtn{
      height: 90%;
      width: 35%;
      font-size: 1.1em;
      border: 1px solid #f44336;
      border-radius: 6px;
      font-weight: bold;
      color: white;
      background-color: #f44336;
}
input::placeholder, 
textarea::placeholder {
      font-weight: bold;
      text-align:center;
      font-size: 1.1em;
      color: rgb(234, 220, 220);
      opacity: 1;
}
.curve-container{
      opacity: 0.9;
      position:absolute;
      bottom: 0;
      width: 100%;
}

#trendSec{
      height: 70vh;
      width: 100%;
      padding-top: 2%;
      padding-left: 4%;
      display: flex;
      flex-direction: column;
      background-color: brown;
}
#trendTextBox{
      height: 20%;
      background-color: antiquewhite;
}
#trendT{
      background-color: aqua;
      font-size: 2rem;
      font-weight: 600;
}
#trendMovBox{
      height: 60%;
      background-color:chartreuse;
      display: flex;
      justify-content: space-evenly;
}
.mov{
      height: 100%;
      width: 20%;
      background-color: blueviolet;
      border: 1px solid black;
      background-size: cover;
      border-radius: 10px;
      opacity: 0.9;
      position: relative;
}
#mov1{
      background-image: url(/images/download\ \(1\).jpg);
}
#mov2{
      background-image: url(/images/mov2.jpg);
}
#mov3{
      background-image: url(/images/mov3.jpg);
}
#mov4{
      background-image: url(/images/mov4.jpg);
}
.num{
      font-size: 5rem;
      background-color: aqua;
      display: inline-block;
      position:absolute;
      bottom: 0;
      left: -10%;
      -webkit-text-stroke: 2px white; 
      font-weight: 900;
}
